/*
Enter and leave animations can use different
durations and timing functions.
*/
.slide-fade-down-enter-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-down-leave-active {
    transition: all 0.1s ease-out;
}

.slide-fade-down-enter-from,
.slide-fade-down-leave-to {
    transform: translateY(-30px);
    opacity: 0;
}

.slide-fade-left-enter-active {
    transition: all 0.3s cubic-bezier(1, 0.5, 0.8, 1);
}

.slide-fade-left-leave-active {
    transition: all 0.1s ease-out;
}

.slide-fade-left-enter-from,
.slide-fade-left-leave-to {
    transform: translateX(30px);
    opacity: 0;
}

.btn-radio label {
    font-size: 1.5rem;
}

.btn-radio label:first-child {
    @apply rounded-s-md;
}

.btn-radio label:last-child {
    @apply rounded-e-md;
}

/*	
========================
    3D Effect
========================
*/
h1.text-3d {
    letter-spacing: 0.15em;
    text-shadow: -1px -1px 1px #ebecf1, 0px 1px 0 #2e2e2e, 0px 2px 0 #2c2c2c,
        0px 5px 0 #1c1c1c, 0px 5px 0 #1a1a1a, 0px 5px 0 #181818,
        0px 5px 0 #161616, 0px 5px 0 #141414, 0px 5px 0 #121212,
        5px 5px 5px rgba(0, 0, 0, 0.5), 5px 5px 5px rgba(0, 0, 0, 0.9);
}
